$font-family: 'Montserrat', sans-serif;
$font-size: 20px;
$color: #555555;
$width: 50px;
$border-bottom: solid 2px #555555;
$padding-top: 31px;
$p_f_s: 16px;
$p_f_f: 'Roboto Slab', serif;
$p_f_c: #555555;
$primaryColor: #4A90E2;

body {
  overflow-x: hidden;
}
.navbar-default .navbar-toggle{
  border: none;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus{
  background: none;
}
.navbar-default {
  background-image: url('../images/bg.png');
  background-size: cover;
  border: none;
  border-radius: 0;
  @media screen and (max-width: 768px) {
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 992px) {
    background-size: cover;
    background-position: center;
  }
  @media screen and (max-width: 320px) {
    background-size: cover;
    background-position: center;
  }

  .navbar-nav {
    @media screen and (max-width: 768px) {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }
    @media screen and (max-width: 992px) {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }
    @media screen and (max-width: 320px) {
      display: flex;
      margin-top: 0;
      margin-bottom: 0;
    }

    li {
      a {
        padding-right: 17px;
        padding-left: 17px;
        color: white;
        font-family: 'Montserrat', sans-serif;
        font-size: 14px;
        padding-top: 46px;

        &:hover {
          color: white;
        }

        &:focus {
          color: white;
        }

        @media screen and (max-width: 768px) {
          padding-top: 0px;
          padding-left: 5px;
          padding-right: 5px;
          font-size: 8px;
        }
        @media screen and (max-width: 992px) {
          padding-top: 0px;
          padding-left: 5px;
          padding-right: 5px;

          font-size: 8px;
        }
        @media screen and (max-width: 320px) {
          padding-top: 0px;
          padding-left: 5px;
          padding-right: 5px;

          font-size: 8px;

        }
      }
    }
  }

  .navbar-brand {

    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: white;
    padding-top: 45px;

    &:hover {
      color: white;
    }

    &:focus {
      color: white;
    }

    @media screen and (max-width: 768px) {
      padding-top: 15px;
    }
    @media screen and (max-width: 992px) {
      padding-top: 15px;
    }
    @media screen and (max-width: 320px) {
      padding-top: 15px;
    }
  }
}

.welcome {
  padding-bottom: 270px;
  @media screen and (max-width: 768px) {
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 992px) {
    padding-bottom: 0;
    margin-bottom: 60px;
  }
  @media screen and (max-width: 320px) {
    padding-bottom: 0;
    margin-bottom: 60px;
  }

  h1 {
    padding-top: 197px;
    padding-bottom: 33px;
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 48px;
    @media screen and (max-width: 768px) {
      padding-top: 0;
      font-size: 15px;
      margin-top: 0;
      padding-bottom: 0;
    }
    @media screen and (max-width: 992px) {
      padding-top: 0;
      font-size: 15px;
      margin-top: 0;
      padding-bottom: 0;
    }
    @media screen and (max-width: 320px) {
      padding-top: 0;
      font-size: 15px;
      margin-top: 0;
      padding-bottom: 0;
    }
  }

  p {
    font-family: 'Roboto Slab', serif;
    color: white;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 54px;
    @media screen and (max-width: 768px) {
      padding-top: 10px;
      font-size: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 992px) {
      padding-top: 10px;
      font-size: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
    @media screen and (max-width: 320px) {
      padding-top: 10px;
      font-size: 10px;
      margin-top: 0px;
      margin-bottom: 10px;
    }
  }

  a {
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size: 16px;
    padding: 17px 32px 17px 33px;
    border: solid 2px white;
    margin-bottom: 260px;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    @media screen and (max-width: 992px) {
      padding: 9px 16px 9px 16px;
      font-size: 8px;
    }
    @media screen and (max-width: 768px) {
      padding: 9px 16px 9px 16px;
      font-size: 8px;

    }
    @media screen and (max-width: 320px) {
      padding: 9px 16px 9px 16px;
      font-size: 8px;

    }

  }
}

.services {
  h2 {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 101px;

    &:after {
      border-bottom: $border-bottom;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }

  }

  p {

    font-family: $p_f_f;
    font-size: $p_f_s;
    color: $p_f_c;
    padding-top: 20px;
    padding-bottom: 73px;
  }

  .icons {
    i {
      font-size: 45px;
      border-radius: 50%;
      border: solid 2px #e2e2e2;
      width: 88px;
      height: 88px;
      text-align: center;
      padding-top: 20px;
      color: #c0301c;

      &:hover {
        color: white;
        background-color: #c0301c;
      }
    }

    h3 {
      font-size: 14px;
      font-family: 'Montserrat', sans-serif;
      text-transform: uppercase;
      font-weight: 400;
    }

    p {
      font-size: 14px;
      font-family: 'Roboto Slab', serif;
      line-height: 23px;
      color: #555555;
      padding-bottom: 105px;
    }
  }
}

.about {
  h3 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

    span {
      font-family: 'Roboto Slab', serif;
      font-size: 13px;
      line-height: 3.5;
    }
  }

  .col-md-12 {
    padding-left: 0;
    padding-right: 0;
  }

  h2 {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 101px;

    &:after {
      border-bottom: $border-bottom;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }
  }

  p {

    font-family: $p_f_f;
    font-size: $p_f_s;
    color: $p_f_c;
    padding-top: 20px;
    padding-bottom: 73px;
    @media screen and (max-width: 992px) {
      padding-bottom: 20px;
    }
    @media screen and (max-width: 768px) {
      padding-bottom: 20px;
    }
    @media screen and (max-width: 320px) {
      padding-bottom: 20px;
    }
  }

  background-color: #f8f8f8;
}

.paragraph {

  p {
    font-size: 14px;
    line-height: 23px;
    text-align: justify;
  }
}
.owl-theme {
  .owl-dots {
    margin-bottom: 60px;
  }
}
.owl-theme {
  .owl-nav {
    border-radius: 0;
  }

  .owl-dots {
    .owl-dot {
      background-color: #f8f8f8;
    }
  }

}

.owl-carousel {

  .owl-item {

    @media screen and (max-width: 768px) {
      img {
        height: auto;
        width: 100%;
        display: inline-block;
      }
      h3 {
        font-size: 7px;

        span {
          font-size: 7px;
          line-height: 1.5;
        }
      }
    }
    @media screen and (max-width: 992px) {
      img {
        width: 100%;
        display: inline-block;
        height: auto;
      }
      h3 {
        font-size: 7px;

        span {
          font-size: 7px;
          line-height: 1.5;
        }
      }
    }
    @media screen and (max-width: 320px) {
      img {
        width: 100%;
        display: inline-block;
        height: auto;
      }
      h3 {
        font-size: 7px;

        span {
          font-size: 7px;
          line-height: 1.5;
        }
      }
    }
  }

  .owl-nav {
    button {
      .owl-prev {
        padding: 0 !important;
      }
    }
  }
}

.owl-carousel {

  .owl-nav {


    .owl-prev {
      position: absolute;
      top: 27%;
      left: 10px;
      display: inline-block;
      width: 38px;
      height: 38px;
      z-index: 5;
      @media screen and (max-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 320px) {
        display: none;
      }

    }
  }
}

.owl-carousel {
  .owl-nav {


    .owl-next {
      position: absolute;
      top: 27%;
      right: 10px;
      display: inline-block;
      width: 38px;
      height: 38px;
      z-index: 5;
      @media screen and (max-width: 992px) {
        display: none;
      }
      @media screen and (max-width: 768px) {
        display: none;
      }
      @media screen and (max-width: 320px) {
        display: none;
      }
    }

  }

}


.owl-carousel .owl-nav button.owl-prev, .owl-carousel .owl-nav button.owl-next, .owl-carousel button.owl-dot {
  background-color: #c43d2a;
  border-radius: 0;

}


.owl-carousel .owl-nav button.owl-next {
  background-image: url('../images/arrow.png');
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../images/button_next.png');
    background-position: center;
    background-size: contain;
  }

}

.owl-carousel .owl-nav button.owl-prev {
  background-image: url('../images/arrow_left.png');
  background-position: center;
  background-size: contain;

  &:hover {
    background-image: url('../images/button_prev.png');
    background-position: center;
    background-size: contain;
  }

}


.portfolio {
  margin-bottom: 100px;

  img {
    @media screen and (max-width: 992px) {
      height: auto;
      width: 100%;
      display: inline-block;
    }
    @media screen and (max-width: 768px) {
      height: auto;
      width: 100%;
      display: inline-block;
    }
    @media screen and (max-width: 320px) {
      height: auto;
      width: 100%;
      display: inline-block;
    }
  }

  h2 {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 101px;


    &:after {
      border-bottom: $border-bottom;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }
  }
}

.ui-tabs .ui-tabs-nav {
  text-align: center;
}
.ui-tabs {

  .ui-tabs-panel {
    margin: 60px 0 0 0;

    img {
      padding-right: 30px;
      padding-bottom: 20px;

      @media screen and (max-width: 992px) {
        padding-right: 0;
      }
      @media screen and (max-width: 768px) {
        padding-right: 0;
      }
      @media screen and (max-width: 320px) {
        padding-right: 0;
      }
    }
  }

  .ui-tabs-nav {


    @media screen and (max-width: 992px) {
      padding: 0 0 0 0;

    }
    @media screen and (max-width: 768px) {
      padding: 0 0 0 0;

    }
    @media screen and (max-width: 320px) {
      padding: 0 0 0 0;


    }
  }
}

.ui-widget-header {
  background-color: white;
  border: 0;
}

.ui-corner-all {
  border-radius: 0;

}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, .ui-button.ui-state-disabled:hover, .ui-button.ui-state-disabled:active {
  background-color: white;
  list-style: none;
  border: none;

  a {
    color: $p_f_c;
    display: block;
    text-decoration: none;
    margin: auto;
  }
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #c0301c;
  font-family: 'Roboto Slab', serif;
  font-size: 16px;

}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited, a.ui-button, a:link.ui-button, a:visited.ui-button, .ui-button {
  font-family: 'Roboto Slab', serif;
  font-size: 16px;
  @media screen and (max-width: 992px) {
    padding-left: 15px;
  }
  @media screen and (max-width: 768px) {
    padding-left: 15px;
  }
  @media screen and (max-width: 320px) {
    padding-left: 15px;
  }

}

.ui-widget.ui-widget-content {
  border: none;
}
.ui-tabs .ui-tabs-nav li {
  margin: 0;
  border: none;
  display: inline-block;
  float: none;

}

.ui-tabs .ui-tabs-nav .ui-tabs-anchor{
  margin: 15px;
  padding: 0;
}

.do_you {
  background-image: url('../images/do_you.png');
  padding-bottom: 99px;
  background-size: cover;
  padding-top: 100px;


  h3 {
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    color: white;
    margin-bottom: 52px;
    line-height: 40px;
  }

  a {
    padding: 16px 25px;
    border: solid 2px white;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
    color: white;
    font-family: "Roboto Slab", serif;
  }
}

.recent {

  h2 {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 101px;

    &:after {
      border-bottom: $border-bottom;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }
  }

  p {

    font-family: $p_f_f;
    font-size: $p_f_s;
    color: $p_f_c;
    padding-top: 20px;
    padding-bottom: 73px;
  }

  .posts {

    img {
      margin-bottom: 38px;
    }

    h3 {
      width: 73px;
      height: 73px;
      border: solid 2px #555555;
      text-align: center;
      padding-top: 10px;
      font-family: 'Montserrat', sans-serif;
      color: #777777;
      margin: 0;
    }

    h4 {
      font-family: 'Montserrat', sans-serif;
      color: #c0301c;
      font-size: 16px;
      text-transform: uppercase;
    }

    h5 {
      margin: 0;
      font-family: "Roboto Slab", serif;
      font-weight: 400;

      span {
        color: #c0301c;
      }
    }

    h6 {
      font-size: 14px;
      line-height: 23px;
      text-align: justify;
      font-family: "Roboto Slab", serif;
      color: #555555;
      margin-top: 20px;
    }
  }


}

.partners {
  background-color: #f8f8f8;
  padding-top: 100px;
  padding-bottom: 100px;

  img {
    margin-right: 30px;
    margin-left: 30px;

    @media screen and (max-width: 768px) {

      margin: 15px 8px 0 8px;

    }
    @media screen and (max-width: 992px) {
      margin: 15px 8px 0 8px;
    }
    @media screen and (max-width: 320px) {
      margin: 15px 8px 0 8px;
    }
  }
}

.touch {


  h2 {
    font-family: $font-family;
    font-size: $font-size;
    color: $color;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 101px;


    &:after {
      border-bottom: $border-bottom;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }
  }

  p {

    font-family: $p_f_f;
    font-size: $p_f_s;
    color: $p_f_c;
    padding-top: 20px;
    padding-bottom: 73px;
  }


  h3 {

    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    color: #555555;
    font-size: 16px;
    padding-bottom: 20px;
    margin-top: 10px;

    i {
      display: inline-block;
      padding-right: 10px;
    }
  }

  span {
    color: #555555;
    font-size: 12px;
    font-family: "Roboto Slab", serif;

  }

  .form {
    #subject{
      margin-left: 80px;
      @media screen and (max-width: 768px) {
        margin-left: 0;
      }
      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
      @media screen and (max-width: 320px) {
        margin-left: 0;

      }
    }
    #company\  {
      margin-left: 70px;
      @media screen and (max-width: 768px) {
        margin-left: 0;

      }
      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
      @media screen and (max-width: 320px) {
        margin-left: 0;

      }
    }

    #Your\ e-mail {
      margin-left: 70px;
      @media screen and (max-width: 768px) {
        margin-left: 0;

      }
      @media screen and (max-width: 992px) {
        margin-left: 0;
      }
      @media screen and (max-width: 320px) {
        margin-left: 0;

      }
    }

    #Name {
      margin-left: 80px;
      @media screen and (max-width: 768px) {
        margin-top: 20px;
        margin-left: 0;

      }
      @media screen and (max-width: 992px) {
        margin-top: 20px;
        margin-left: 0;
      }
      @media screen and (max-width: 320px) {
        margin-top: 20px;
        margin-left: 0;

      }
    }

    input {
      height: 42px;
      width: 350px;
      padding-left: 18px;
      text-transform: uppercase;
      margin-bottom: 23px;
      font-size: 12px;
      font-family: "Roboto Slab", serif;
      border: solid 1px #555555;
      color: #555555;

      @media screen and (max-width: 992px) {
        width: 310px;
      }
      @media screen and (max-width: 768px) {
        width: 320px;
      }
      @media screen and (max-width: 320px) {
        width: 290px;
      }
    }
  }

  textarea {
    width: 720px;
    height: 103px;
    resize: none;
    padding-left: 18px;
    text-transform: uppercase;
    padding-top: 16px;
    margin-bottom: 18px;
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    border: solid 1px #555555;
    margin-left: 80px;
    @media screen and (max-width: 992px) {
      width: 310px;
      margin-left: 0;
    }
    @media screen and (max-width: 768px) {
      width: 320px;
      margin-left: 0;
    }
    @media screen and (max-width: 320px) {
      width: 290px;
      margin-left: 0;
    }
  }

  button {
    padding: 16px 35px;
    background-color: white;
    text-transform: uppercase;
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    border: solid 1px #555555;
    margin-bottom: 101px;
    margin-left: 80px;
    @media screen and (max-width: 992px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 768px) {
      margin-bottom: 40px;
    }
    @media screen and (max-width: 320px) {
      margin-bottom: 40px;
    }
  }

  h5 {
    font-size: 12px;
    font-family: "Roboto Slab", serif;
    padding-top: 11px;

    span {
      color: #c43d2a;
    }
  }
}


footer {
  background-color: #c0301c;
  padding-bottom: 101px;

  i {
    font-size: 20px;
    color: #FFFFFF;
    border-radius: 50%;
    border: solid 2px white;
    width: 36px;
    height: 36px;
    text-align: center;
    padding-top: 7px;
    margin: 100px 7px 30px 7px;

  }

  p {
    color: white;
    font-size: 12px;
    font-family: "Roboto Slab", serif;

    &:before {
      border-top: solid 2px white;
      width: $width;
      content: "";
      display: block;
      margin: auto;
      padding-top: $padding-top;

    }
  }
}

.ui-dialog .ui-dialog-title {
  text-align: center;
  background-color: #c43d2a;
  color: white;
  padding: 15px;
  font-family: "Roboto Slab", serif;
  text-transform: uppercase;
  width: 100%;
}

.ui-dialog .ui-dialog-content {
  p {
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
  }
}

.ui-button-icon-only .ui-icon {
  top: 45%;
  left: 50%;
}

.ui-dialog .ui-dialog-titlebar-close {
  top: 28%;
  left: 96%;
}

